#logo {
    color: #666;
    width:100%;   
}
#logo h1 {
    font-size: 60px;
    text-shadow: 1px 2px 3px #999;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    letter-spacing: -1px;
}
#logo p{
    padding-bottom: 20px;
}


#form-search >.form-group >.input-group > .form-group> .form-control {
    height: 40px !important;
}

#form-search >.form-group >.input-group > .form-group> span {
    margin-top: 1%;
}

#form-search >.form-group >.input-group > .input-group-btn > .btn{
    height: 40px !important; 
    font-size: 16px;
    font-weight: 300; 
            
        
}
#form-search >.form-group >.input-group > .input-group-btn > .btn .glyphicon{
    margin-right:12px;   
}    


#form-search >.form-group >.input-group > .form-control {
    font-size: 16px;
    font-weight: 300;
    
}

#form-search >.form-group >.input-group > .form-control:focus {
    border-color: #33A444;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 1px rgba(0, 109, 0, 0.8);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 1px rgba(0, 109, 0, 0.8);
}

.loading{
    text-align: center;
}

.loading img{
    height: 16px;
}

.container-notice {
    margin: 5px 5px; /* Making sure to keep some distance from all side */
}
    
.notice {
    width: 100%; /* Configure it fit in your design  */
    margin: 0 auto; /* Centering Stuff */
    background-color: #FFFFFF; /* Default background */
    padding: 10px;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

.danger {
    border-left-color: #d9534f; /* Left side border color */
    background-color: rgba(217, 83, 79, 0.1); /* Same color as the left border with reduced alpha to 0.1 */
}
  
.danger strong {
    color:  #d9534f;
}

.info {
    border-left-color: #5bc0de;
    background-color: rgba(91, 192, 222, 0.1);
}
  
.info strong {
    color: #5bc0de;
}

.success {
    border-left-color: #2b542c;
    background-color: rgba(43, 84, 44, 0.1);
}
  
.success strong {
    color: #2b542c;
}